{
	http_port 8080
	https_port 8443
	debug

	security {
		authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify a3c6eeee16e4479e9f31786e30b3ebdc
			backends {
				jumpcloud_saml_backend {
					method saml
					realm jumpcloud
					provider generic
					idp_metadata_location /home/greenpau/tmp/authp/cloudjump/JumpCloud-saml2-metadata.xml
					idp_sign_cert_location /home/greenpau/tmp/authp/cloudjump/certificate.pem
					idp_login_url https://sso.jumpcloud.com/saml2/auth-portal-saml
					application_name "MyFIOS Auth Portal"
					entity_id "urn:auth-portal"
					acs_url https://auth.myfiosgateway.com:8443/saml/jumpcloud
				}
			}
			cookie domain myfiosgateway.com
			ui {
				links {
					"My Website" https://assetq.myfiosgateway.com:8443/ icon "las la-star"
					"My Identity" "/whoami" icon "las la-user"
				}
			}
			transform user {
				match origin jumpcloud
				action add role authp/user
			}
		}

		authorization policy mypolicy {
			set auth url https://auth.myfiosgateway.com:8443/
			allow roles authp/admin authp/user
			crypto key verify a3c6eeee16e4479e9f31786e30b3ebdc
		}
	}
}

auth.myfiosgateway.com {
	tls /home/greenpau/.local/tls/myfiosgateway/server.crt /home/greenpau/.local/tls/myfiosgateway/server.key
	route {
		authenticate * with myportal
	}
}

assetq.myfiosgateway.com {
	tls /home/greenpau/.local/tls/myfiosgateway/server.crt /home/greenpau/.local/tls/myfiosgateway/server.key
	route {
		authorize with mypolicy
		respond "assetq is running"
	}
}
